log_level: `logging:DEBUG`,
rocketpool: {
  support: {
    role_ids: [708268619867619338],
    server_id: 544295541849456651,
    channel_id: 912434217118498876
  }
  manual_addresses: {
    rocketStorage:          "0x1d8f8f00cfa6758d7bE78336684788Fb0ee0Fa46",
    rocketSignerRegistry:   "0xc1062617d10Ae99E09D941b60746182A87eAB38F",
    rocketExitArbitrage:    "0x2631618408497d27D455aBA9c99A6f61eF305559",
    DAIETH_univ3:           "0xC2e9F25Be6257c210d7Adf0D4Cd6E3E881ba25f8",
    AirSwap:                "0x4572f2554421Bd64Bef1c22c8a81840E8D496BeA",
    yearnPool:              "0x5c0A86A32c129538D62C106Eb8115a8b02358d57",
    curvePool:              "0x447Ddd4960d9fdBF6af9a790560d0AF76795CB08",
    wstETHToken:            "0x7f39C581F595B53c5cb19bD0b3f8dA6c935E2Ca0",
    unstETH:                "0x889edC2eDab5f40e902b864aD4d7AdE8E412F9B1"
    rocketDepositPoolQueue: "0xD95C1B65255Eb69303c0159c656976389F8dA225",
    ConstellationDirectory: "0x4343743dBc46F67D3340b45286D8cdC13c8575DE",
    LUSD:                   "0x5f98805A4E8be255a32880FDeC7F6728C6568bA0",
    BalancerVault:          "0xBA12222222228d8Ba445958a75a0704d566BF2C8"
  }
  chain: "mainnet",
  execution_layer: {
    explorer: "etherscan.io",
    endpoint: {
      current: "http://node1:8545",
      mainnet: "http://node1:8545"
    }
  },
  consensus_layer: {
    explorer: "beaconcha.in",
    endpoints: [
      "http://node1:5052",
      "http://node2:5052"
    ]
  }
  etherscan_secret: "secret"
},
modules: {
  include: [],
  exclude: []
}
"mev.hashes": []
"wakatime.secret" = "secret"
mongodb_uri = "mongodb://mongodb:27017"
cronitor_secret = "a"
events: {
  lookback_distance: 8,
  genesis: 13325233,
  block_batch_size: 1000,
  status_message: {
    fields: []
  }
}
discord: {
  secret: "secret",
  owner: {
    user_id: -1,
    server_id: -1
  },
  guilds: [
    -1
  ],
  channels: {
    errors: -1,
    default: -1,
    odao: -1,
    otc: -1
  }
}
