psutil==5.9.8
python_i18n==0.3.9
web3==5.31.4
humanize==4.6.0
termplotlib==0.3.9
cachetools==5.3.3
bidict==0.22.1
tinydb==4.7.1
requests==2.32.4
uptime==3.0.1
discord.py==2.5.2
config==0.5.1
pytz==2022.7.1
matplotlib==3.7.1
scipy==1.11.3
inflect==7.3.1
motor==3.1.1
wordcloud==1.9.4
web3-multicall==0.0.7
colorama==0.4.6
seaborn==0.12.2
etherscan_labels @ git+https://github.com/InvisibleSymbol/etherscan-labels@7eb617d715a4dda0eabdd858106a526a3abd3394
cronitor==4.6.0
circuitbreaker==1.4.0
retry-async==0.1.4
checksumdir==1.2.0
multicall==0.11.0
dice==3.1.2
openai==1.10.0
transformers==4.48.0
schedule==1.2.2
suntimes==1.1.2
icalendar==5.0.13
regex==2023.8.8
tiktoken==0.5.2
anthropic==0.57.1
HomeAssistant-API==4.2.2.post2
bs4==0.0.2
pydantic==2.8.2
pydantic_core==2.20.1
pymongo==4.8.0
graphql_query==1.4.0
pillow==11.1.0
aiohttp==3.11.12
eth-account==0.5.9
numpy==1.26.4
beautifulsoup4==4.13.3
eth-typing==2.2.1
hexbytes==0.3.1
eth-utils==1.10.0
tabulate==0.9.0
