psutil==5.9.0
python_i18n==0.3.9
web3==5.25.0
humanize==3.13.1
termplotlib==0.3.9
cachetools==5.0.0
bidict==0.21.4
tinydb==4.5.2
requests==2.27.1
uptime==3.0.1
git+git://github.com/Pycord-Development/pycord@99e2312ffef447f4ae60feebd9c04319e04d4b39#egg=py-cord
config==0.5.1
pytz==2021.3
matplotlib==3.5.1
inflect==5.3.0
motor==2.5.1
wordcloud==1.8.1