psutil==5.8.0
python_i18n==0.3.9
web3==5.25.0
humanize==3.13.1
termplotlib==0.3.9
cachetools==4.2.4
bidict==0.21.4
tinydb==4.5.2
requests==2.26.0
uptime==3.0.1
git+git://github.com/Pycord-Development/pycord@45c52de5aa7597549a9923a084f6e12921bc6a82#egg=py-cord
config==0.5.1
pytz==2021.3
matplotlib==3.5.1
inflect==5.3.0
